:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --mainbg:#f3f3f3
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap');


.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333;border-color: #949292;}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-image: none;
}
body {
    margin: 0;
    font-family: 'Figtree', sans-serif!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    background: var(--mainbg);
}
.h1, .h2, .h3, .h4, .h5, .h6,.text-monospace, h1, h2, h3, h4, h5, h6{
      font-family: 'Figtree', sans-serif!important;
      font-weight:500!important;
}
.header-navbar.nav-bg {
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
}
.header-navbar.nav-bg a{
    color:#ffffff;
}
#searchResult a{
     color: #1E2122;
}
.header-navbar.nav-bg .dropdown-menu a{
     color: #1E2122;
}

.header-navbar.nav-bg .dropdown-menu-right {
    background-color: #fff;
    min-width:190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC!important;
    -webkit-border-radius:10px;
    border-radius: 10px;
}
.header-navbar .navbar-container .dropdown-menu-media{
    background-color: #fff;
    min-width:190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC!important;
    -webkit-border-radius:10px;
    border-radius: 10px;
}
.header-navbar .navbar-container ul.nav li .media-list {
    max-height: 38.2rem;
    top: 0px;
}
.header-navbar.nav-bg .dropdown-menu a:active{
    color:#fff;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
  margin-bottom: 0rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1E2122;
    text-decoration: none;
    background-color: #f5f5f7;
}
.header-navbar.navbar-shadow {
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.08);
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
}
.navbar-light .navbar-nav .nav-link {
    color: #3B74DA;
    font-family: 'Figtree', sans-serif!important;
}

.navbar-light .navbar-nav .nav-link span {
    color: #55595C;
    font-weight: 600;
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link span:hover{
     color: #3B74DA;
}
.mainSec{
    padding: 0 100px;
}
.header-navbar .navbar-container {
    padding: 0 0px;
}
.header-navbar .navbar-container {
    height: 62px;
}
.header-navbar .navbar-container ul.nav li>a.nav-link {
    padding: 0.85rem 1rem;
    font-size: 1.05rem;
}
.header-navbar .navbar-container .dropdown-menu-media .media-list .media{
    display:block;
}
footer.footer {
    padding: 0.8rem 0;
}


footer.footer-dark{
    background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
    font-family: 'Figtree', sans-serif!important;
}

.nav-logo{
    font-size:32px;
    color:#FFFFFF;
    font-weight: bold;
    line-height: 2;
}

.navbar-wrapper {
    width: 100%;
    height: 65px;
}

/*home css start here*/
.card-body{
    box-shadow:0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
}
.dashboard-boxes, .card-header:first-child {
   background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
    color:#fff;
}
nav>div a.nav-item.nav-link.active{
    font-weight:500!important ;
}
.card {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
    box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
}

.tab-content, .border-primary{
border:1px solid rgba(33,40,50,.125)!important;
}
.tab-content {
    background: #21283208;
}

.sowAccordianSelectBorder {
    border: 1px solid rgba(33,40,50,.125)!important;
    border-bottom:0px;
    color:#2a3f54;
    background:#f3f3f380!important;
    
}
.col-md-12:last-child .sowAccordianSelectBorder{
    border-bottom:1px!important;
}
.sowAccordianSelect:hover{
     background:#f3f3f34c!important;
}
#nav-stats{
    padding:11px;
    background:#ccc;
}

.otherStep p.bold, #div1 p.bold {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*home css end here*/
/*billing provider css end here*/
.customBoxHeight{
    min-height:calc(100vh - 220px);
}
.customBoxHeight2{
    min-height:calc(100vh - 350px);
}
.heading-background {
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
     color:#fff!important;
     border-bottom: 0px solid #848080;
}
.heading{
     font-family: 'Figtree', sans-serif!important;
     color:#fff;
     font-weight: 600 !important;
     font-size: 20px !important;
}
.sub-header{
    padding:12px 0!important;
}
.custom-billing-box{
    background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
     -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5)!important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5)!important;
    border:0px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem;
}
.row-background {
    border:1px solid rgba(33,40,50,.125)!important;
    background-color: #fff;
}
.innerbox {
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 8%, #f3f3f3 100%);
background: -webkit-linear-gradient(top,  #ffffff 8%,#f3f3f3 100%);
background: linear-gradient(to bottom,  #ffffff 8%,#f3f3f3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );

    font-family: 'Figtree', sans-serif!important;
      -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
    box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
    border:1px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem;
    min-height:210px;
    } 
    .billin-icon{
        text-align:center;
        padding:15px 0 10px;
    }
     .billin-icon i{
         font-size:18px;
     }
.custom-billing-box .text-success {
    color:#3B74DA!important;
}
.custom-billing-box .text-success:hover{
     color:#3BAFDA!important;
}

.boxControl{
    padding-left:30px!important; padding-right:30px!important;
}

.headLeft{
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn-primary {
    border-color:#3BAFDA!important;
    font-family: 'Figtree', sans-serif!important;
    
}
.btn-primary:hover {
    border-color:#2a3f54!important;
    background-color:#3BAFDA!important;
    color: #FFF!important;
}
.steps, .step .activestep {
    color: #fff !important;
    height: 80px!important;
    background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     padding-top: 0px; 
    border-left: 2px solid #2a3f54!important;
    border-right: 2px solid #2a3f54!important;
    border-top: 2px solid #2a3f54 !important;
    border-bottom: 2px solid #2a3f54 !important;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
     border:0px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem; 
}
.activestep{
    position:relative;
}
.activestep:after{
  position: absolute;
  bottom: -10px;
  left:50%;
  margin-left: -10px;
  content:"";
  display:block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2a3f54 ; 
}
.otherStep, .resetActive, .otherStep, .step .col-md-2{
 box-shadow: 0 3px 6px rgba(0,0,0,0.5)!important;
    border:0px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem;   
    margin-right:15px;
    padding-top:0px;
}
.otherStep{
    box-shadow: 0 0px 0px rgba(0,0,0,0.5)!important;
    border:0px solid rgba(33,40,50,.125)!important;
}
.step{
    padding-top:20px;
}
.step .col-md-2:first-child {
    border-radius: 5px!important;
}
.step .col-md-2:last-child {
    border-radius: 5px!important;
}
.step .activestep .pointer{
    padding-bottom:0px;
}
.step .otherStep .pointer {
    padding-bottom: 0px;
    margin-bottom: 4px;
}
.card-body{
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}
.card-header  .text-warning {
    color: #fff!important;
}
.sub-header {
    padding: 10px 10px!important;
}
.step div{
    margin-left:10px; 
    margin-right:10px;
}
.otherStep p.bold i, #div1 p.bold i {
    margin-left: 5px;
}
.step .col-md-3 {
    background-color: #fff;
    border: 0px solid #C0C0C0;
    border-right: none;
    border-radius: 5px;
}
.step .pointer{
    padding-top:18px;
    font-size:18px;
}


.step .otherStep .pointer {
    padding-bottom: 0px;
    padding-top: 25px;
}
.step .activestep .pointer {
    padding-bottom: 0px;
    padding-top: 0px;
}
body::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: #cccccc3c;
}
body::-webkit-scrollbar-thumb {
  background-color: #005dba;
}
.scroll-h{
    height:283px;
    overflow-y:scroll;
   scrollbar-width: thin;
   scrollbar-color: #cccccc3c #005dba;
}
.scroll-h::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}

.scroll-h::-webkit-scrollbar-track {
  background-color: #cccccc3c;
}
.scroll-h::-webkit-scrollbar-thumb {
  background-color: #005dba;
}



.table td, .table th {
  border: 1px solid rgba(33,40,50,.125);
}
#nav-stats{
    margin:0 10px;
}
.tab-content {
    box-shadow: 0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius:0 0 0.35rem 0.35rem;
}
.setMinheight {
    min-height: auto!important;
    padding: 0px 0 10px 0;
}
.appointmentDiv th, td {
  border:0px solid rgba(33,40,50,.125);
  color:#333;
  font-weight:500;
}
.appointmentDiv table {
    width: 100% !important;
    border-collapse: collapse;
    border: 1px solid rgba(33,40,50,.125);
    font-size: 13px;
    text-align: center;
}
.appointmentDiv table th{
    font-weight:700;
}
.appointmentDiv table th, .appointmentDiv table td{
    padding:5px;
}

/*nav  css Start here*/

.custom-nav nav {
	margin: 0px 0;
}

.custom-nav nav ul {
	padding: 0;
 margin: 0;
	list-style: none;
	position: relative;
	}
	
.custom-nav nav ul li {
	display:inline-block;
	background:#ffffff;
	text-align:center;
	}

.custom-nav nav a {
	display:block;
	padding:10px 18px;	
	color:#55595C;
	font-size:15px;
	line-height: 26px;
	text-decoration:none;
	font-family: 'Figtree', sans-serif!important;
	font-weight:600;
	
}
.custom-nav nav a i{
    display:block;
    text-align:center;
}

.custom-nav nav a:hover { 
	background-color:#2a3f54; 
	color:#fff;
}
/* Hide Dropdowns by Default */
.custom-nav nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
.custom-nav nav ul ul ul{
    
    left:-3px;
}

.custom-nav nav ul ul li{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    border-left: 1px solid #CCCCCC!important;
    border-right: 1px solid #CCCCCC!important;
    border-bottom: 1px solid #CCCCCC!important;
    -webkit-border-radius:0px;
    border-radius:0px;
}

/* Display Dropdowns on Hover */
.custom-nav nav ul li:hover > ul {
	display:block;
}

/* Fisrt Tier Dropdown */
.custom-nav nav ul ul li {
	width:220px;
	float:none;
	display:list-item;
	position: relative;
	text-align:left;
}

/* Second, Third and more Tiers	*/
.custom-nav nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:220px;
}

	
/* Change this in order to change the Dropdown symbol */
.custom-nav li > a:after { content:  ' \25BC'; font-size:10px; }
.custom-nav li > a:only-child:after { content: ''; }

/*nav css end here*/

/*billing provider css end here*/


.btn-default {
color: #333;
background-color: #e0dddd;
border-color: #ccc;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}

.dropdown-menu-right {
right: 0;
left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}
/*Add Patient css start here*/
.sub-header h4{
    font-weight:600!important;
    position:relative;
   
}
.custom-form .card-body{
    padding:0;
}
.custom-form .card-body h4{
 border-block-end: 1px solid #e9edf6;    
}
.margin05{
    margin-top:5px;
}
form .form-control {
    border:1px solid #999999;
    color:#333335;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    border-radius: 0rem!important;
    padding: 0.5rem 0.85rem;
}
form .form-control input{
    border-radius: 0.35rem;
}
.form-control:focus {
    box-shadow: none;
    border-color: #579de3;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.05);
    color:#333;
}
form label {
    color: black;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Figtree', sans-serif!important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #999999;
    border-radius: 0px;
}



.rightside #billingInfobydefault{
    box-shadow: 0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
    background:#fff;
}
.rightside #billingInfobydefault .redial-dark{
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
    border:0px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem 0.35rem 0 0;
    color:#fff;
    padding: 1.5rem;
}
#billingInfobydefault span.pr-1 {
    width: 18%;
    float: left;
    color: #000000;
}

#billingInfoDiv span.pr-1 {
    width: 18%;
    float: left;
    color: #000000;
}

.custom-select-sm{
    font-size:85%;
}
.rightside #billingInfoDiv{
    box-shadow: 0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
    background:#fff;
}
.rightside #billingInfoDiv .redial-dark{
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
    border:0px solid rgba(33,40,50,.125)!important;
    border-radius: 0.35rem 0.35rem 0 0;
    color:#fff;
    padding: 1.5rem;
}
.custom-form .rightside .card-body{
    padding: 1.5rem;
}
.rightside #billingInfoDiv  h6{
     letter-spacing: .05rem;
    font-size: 1.12rem!important;
}
.custom-nav nav ul ul li.customSec{
    width:320px;
}
.customSecMenu:hover span, .customSecMenu:hover span a{
    background: #2a3f54!important;
    color:#fff!important;
}

.customSecMenu span {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.menuList{
  display: flex;
  justify-content:flex-start;
   align-items: center;
}

.menuList .media-left{
    margin-right:10px;
}
.rightside{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px !important;
    padding-left: 0px !important;
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td{
    text-transform:capitalize;
}
.pagination .page-item.active .page-link {
    background-color: #2a3f54;
    border-color: #3BAFDA;
}
.table td, .table th {
    padding: 0.75rem 1rem;
}
.b-top{
    border-top:1px solid #ccc;
}
.heading-background h2{
    color:#fff;
}
.heading-background, .heading-background .subtittle{
  font-family: 'Figtree', sans-serif!important;
}


.card-header .card-title {
    margin-bottom: 0;
}

.sticky {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 80px;
    height: 100px
}
.card-header2 {
    box-shadow: 0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
    padding:10px;
}
.card-header2 .card .card-title {
    font-weight: 400!important;
    letter-spacing: .05rem;
    font-size: 1rem;
}
.card-header2  .card-title {
    margin-bottom: 1rem;
}
.rightBox .card {
    margin-bottom: 0.5rem;
}
.rightBox .card a:hover .card-header2{
    border: 1px solid #8ab8f3;
    background:#efefef;

}
.injuryBox .card{
    min-height:295px
}
.injuryBox .card .card-title{
    background:#f4f4f6;
    padding:10px;
    border:1px solid #c9c9c9;
    color:#000000;
    font-weight:600;
    
}
.injuryBox .card .card-body {
    padding: 0rem;
    padding-bottom: 0.5rem;
}
.injuryBox .card .card-body .table{
    margin:0.95rem;
    width:96%;
}
.padR-0{
    padding-right:2px;
}
.padL-0{
    padding-left:2px;
}
/*Add Patient css end here*/

@media screen and (min-width: 768px) {
#adv-search {
width: 404px;
margin: 0 auto;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}

.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}

.dropdown.dropdown-lg {
position: static !important;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 12px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding: 6px 18px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
margin-bottom: 7px;
margin-top: 7px;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.form-control {
border: 1px solid #908f8f;
padding: 0.5rem 0.75rem;
height: calc(2.5rem + 2px);
}

.search-box {
border: 1px solid #908f8f;
padding: 0.5rem 0.75rem;
height: calc(2.75rem + 2px);
padding-top: 1rem;
}
.search-input {
    float: left;
    padding-top: 0.25rem!important;
    width: 0;
}
}

@media screen and (min-width: 768px) {
    
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    top:61px;
}
#adv-search {
width: 543px;
margin: 0 auto;
padding-right:0px;
padding-left:93px;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 450px;
}
}
@media screen and (max-width: 1366px) {
.mainSec{
    padding: 0 44px;
}
.customBoxHeight{
    min-height: calc(100vh - 60px);
}
.innerbox {
    min-height:180px;
    } 
}


.dropdown-menu {
    border: 1px solid #7f8082 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* -------------------------------------------------*/



.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333;border-color: #949292;}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-image: none;

}

.btn-default {
color: #333;
background-color: #e0dddd;
border-color: #ccc;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}

.dropdown-menu-right {
right: 0;
left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

@media screen and (min-width: 768px) {
#adv-search {
width: 404px;
margin: 0 auto;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}

.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}

.dropdown.dropdown-lg {
position: static !important;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 12px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding: 6px 18px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.form-control {
border: 1px solid #908f8f;
}

@media screen and (min-width: 768px) {
#adv-search {
width: 543px;
margin: 0 auto;
padding-right:0px;
padding-left:93px;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 450px;
}
}  

.dropdown-menu {
    border: 1px solid #7f8082 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.showButtonColor{
    background-color: #2a3f54!important;
    color: #ffffff!important;
}

.topmargin
{
 padding-top:10px !important; 
 padding-left: 10px !important;
 background-color:#f3f3f3;
 
}
/*.setCollapseBorder*/
/*{*/
/* border:1px solid #000 !important;*/
/*}*/
.mt-4, .my-4
{
  margin-top: 0rem!important;
}
.help-block{
    color: rgb(185, 74, 72) !important;
}
.required {
    color: red !important;
}
.card-liner-title{
    color: #fff !important;
}
.card-liner-subtitle{
    color: #fff !important; font-weight: bold!important;
}
.billbutton
{
  width: 19% !important;
  background-color:#f3f3f3;
}

.height
{
  height:600px !important;
}

.bottom-border {
  border-bottom-style: groove;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}

.left-border {
  border-left: 1px solid gray;
}
.font-bold
{
 color: #101821 !important;
 font-weight: 600 !important;
}

.bold
{
  font-weight: 600 !important;
}
.margin-bottom
{
    margin-bottom: 0.5rem;
}

.font
{
  font-family: initial !important;
}

.px-3
{
  padding-left: 1.5rem!important;
}
.border-bottom2
{
border-bottom: 1px solid #e0dcdc;
margin-bottom:7px;
}
.lable-padding-top
{
padding-top: 10px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 10px;
font-size: 16px;
}
.float-right1 {
    float: right!important;
    padding-bottom: 10px;
}

.title {
    font-family: initial!important;
    font-size: 16px;
    margin: 0;
    padding-top: 6px;
}
.form-row
{
 margin-left: 0px!important;
 margin-right: 0px!important;
}


.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #b9bab6;
    background-color:#f3f3f3;
    }
 
.paddingtop
{
padding-top: 10px;
}

.paddingbottom
{
padding-bottom: 10px;
}
.paddingleft
{
padding-bottom: 10px;
}
.lineheight
{
line-height: 2.2;
}

.col-md-2
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;   
}

.col-md-3
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;   
}

.injury-doc {
    background-color: #fff;
    border: solid 1px #d8d8d8;
    border-radius: 2px;
    min-height: 197px;
    margin-bottom: 10px;
    width: 100%;
}
.radiobox-width {
    float: left;
    width: 48.5%;
    padding: 3px 0px 3px 17px;
    vertical-align: top;
    
}

.bill-font-size {
 font-size: 14px !important; 
}

.td
{
    border-bottom: 1px solid #E3EBF3;
    padding: 0.5rem 1rem !important;
}
.border-right
{
 color: #ffffff solid 1px;
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-larger 
{
    font-size: 18px;
}

.inputfill 
{
    background-color: #e7e7e7;
    border: solid 1px #b7b7b7;
    border-left: 0;
    border-radius: 0 2px 2px 0;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
}
.buttonfont
{
 font-size: 16px;
}
.dashboard-boxes {
    background-color: #2a3f54!important;
}
html body {
    height: 100%;
    width: 100% !important;
    background-color: #F3F3F3;
    direction: ltr;
}
.showPointer{ cursor: pointer;}