:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --mainbg:#f3f3f3
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap');


.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333;border-color: #949292;}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-image: none;
}
body {
    margin: 0;
    font-family: 'Figtree', sans-serif!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    background: var(--mainbg);
}
.h1, .h2, .h3, .h4, .h5, .h6,.text-monospace, h1, h2, h3, h4, h5, h6{
      font-family: 'Figtree', sans-serif!important;
      font-weight:500!important;
}
.header-navbar.nav-bg {
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
}
.header-navbar.nav-bg a{
    color:#ffffff;
}
#searchResult a{
     color: #1E2122;
}
.header-navbar.nav-bg .dropdown-menu a{
     color: #1E2122;
}

.header-navbar.nav-bg .dropdown-menu-right {
    background-color: #fff;
    min-width:190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC!important;
    -webkit-border-radius:10px;
    border-radius: 10px;
}
.header-navbar .navbar-container .dropdown-menu-media{
    background-color: #fff;
    min-width:190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #CCCCCC!important;
    -webkit-border-radius:10px;
    border-radius: 10px;
}
.header-navbar .navbar-container ul.nav li .media-list {
    max-height: 38.2rem;
    top: 0px;
}
.header-navbar.nav-bg .dropdown-menu a:active{
    color:#fff;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
  margin-bottom: 0rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1E2122;
    text-decoration: none;
    background-color: #f5f5f7;
}
.header-navbar.navbar-shadow {
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.08);
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
}
.navbar-light .navbar-nav .nav-link {
    color: #3B74DA;
    font-family: 'Figtree', sans-serif!important;
}

.navbar-light .navbar-nav .nav-link span {
    color: #55595C;
    font-weight: 600;
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link span:hover{
     color: #3B74DA;
}
.mainSec{
    padding: 0 100px;
}
.header-navbar .navbar-container {
    padding: 0 0px;
}
.header-navbar .navbar-container {
    height: 65px;
}
.header-navbar .navbar-container ul.nav li>a.nav-link {
    padding: 0.85rem 1rem;
    font-size: 1.05rem;
}
.header-navbar .navbar-container .dropdown-menu-media .media-list .media{
    display:block;
}
footer.footer {
    padding: 0.8rem 0;
}


footer.footer-dark{
    background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
    font-family: 'Figtree', sans-serif!important;
}

.nav-logo{
    font-size:32px;
    color:#FFFFFF;
    font-weight: bold;
    line-height: 2;
}

.navbar-wrapper {
    width: 100%;
    height: 65px;
}

/*home css start here*/
.card-body{
    box-shadow:0 0.15rem 1.75rem #21283226;
    border: 1px solid rgba(33,40,50,.125);
    border-radius: 0.35rem;
}
.dashboard-boxes, .card-header:first-child {
   background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
    color:#fff;
}
nav>div a.nav-item.nav-link.active{
    font-weight:500!important ;
}
.card {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
    box-shadow: 0 3px 6px rgba(0,0,0,.05)!important;
}

.tab-content, .border-primary{
border:1px solid rgba(33,40,50,.125)!important;
}
.tab-content {
    background: #21283208;
}

.sowAccordianSelectBorder {
    border: 1px solid rgba(33,40,50,.125)!important;
    border-bottom:0px;
    color:#2a3f54;
    background:#f3f3f380!important;
    
}
.col-md-12:last-child .sowAccordianSelectBorder{
    border-bottom:1px!important;
}
.sowAccordianSelect:hover{
     background:#f3f3f34c!important;
}
#nav-stats{
    padding:11px;
    background:#ccc;
}



/*home css end here*/
/*billing provider css end here*/
.customBoxHeight{
    height:100vh;
}
.heading-background {
     background: #2a3f54;
background: -moz-linear-gradient(left,  #2a3f54 5%, #2a3f54 56%, #476d8e 100%);
background: -webkit-linear-gradient(left,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
background: linear-gradient(to right,  #2a3f54 5%,#2a3f54 56%,#476d8e 100%);
     font-family: 'Figtree', sans-serif!important;
     color:#fff!important;
     border-bottom: 0px solid #848080;
}
.heading{
     font-family: 'Figtree', sans-serif!important;
     color:#fff;
     font-weight: 600 !important;
     font-size: 20px !important;
}
.sub-header{
    padding:12px 0!important;
}
/*billing provider css end here*/


.btn-default {
color: #333;
background-color: #e0dddd;
border-color: #ccc;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}

.dropdown-menu-right {
right: 0;
left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

@media screen and (min-width: 768px) {
#adv-search {
width: 404px;
margin: 0 auto;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}

.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}

.dropdown.dropdown-lg {
position: static !important;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 12px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding: 6px 18px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
margin-bottom: 7px;
margin-top: 7px;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.form-control {
border: 1px solid #908f8f;
padding: 0.5rem 0.75rem;
height: calc(2.5rem + 2px);
}

.search-box {
border: 1px solid #908f8f;
padding: 0.5rem 0.75rem;
height: calc(2.75rem + 2px);
padding-top: 1rem;
}
.search-input {
    float: left;
    padding-top: 0.25rem!important;
    width: 0;
}

@media screen and (min-width: 768px) {
    
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    top:61px;
}
#adv-search {
width: 543px;
margin: 0 auto;
padding-right:0px;
padding-left:93px;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 450px;
}
}
@media screen and (max-width: 1366px) {
.mainSec{
    padding: 0 44px;
}
}

.dropdown-menu {
    border: 1px solid #7f8082 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* -------------------------------------------------*/



.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#fff;border-color:#ccc}.btn-default .badge{color:#fff;background-color:#333;border-color: #949292;}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
background-image: none;

}

.btn-default {
color: #333;
background-color: #e0dddd;
border-color: #ccc;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}

.dropdown-menu-right {
right: 0;
left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 20px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

@media screen and (min-width: 768px) {
#adv-search {
width: 404px;
margin: 0 auto;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 500px;
}

.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
}

.dropdown.dropdown-lg {
position: static !important;
}

.container {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}

.dropdown.dropdown-lg .dropdown-menu {
margin-top: -1px;
padding: 6px 12px;
}
.input-group-btn .btn-group {
display: flex !important;
}
.btn-group .btn {
border-radius: 0;
margin-left: -1px;
}
.btn-group .btn:last-child {
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding: 6px 18px;
}
.form-horizontal .form-group {
margin-left: 0;
margin-right: 0;
}
.form-group .form-control:last-child {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}

.form-control {
border: 1px solid #908f8f;
}

@media screen and (min-width: 768px) {
#adv-search {
width: 543px;
margin: 0 auto;
padding-right:0px;
padding-left:93px;
}
.dropdown.dropdown-lg {
position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
min-width: 450px;
}
}  

.dropdown-menu {
    border: 1px solid #7f8082 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.showButtonColor{
    background-color: #2a3f54!important;
    color: #ffffff!important;
}

.topmargin
{
 padding-top:10px !important; 
 padding-left: 10px !important;
 background-color:#f3f3f3;
 
}
.setCollapseBorder
{
 border:1px solid #000 !important;
}
.mt-4, .my-4
{
  margin-top: 0rem!important;
}
.help-block{
    color: rgb(185, 74, 72) !important;
}
.required {
    color: red !important;
}
.card-liner-title{
    color: #fff !important;
}
.card-liner-subtitle{
    color: #fff !important; font-weight: bold!important;
}
.billbutton
{
  width: 19% !important;
  background-color:#f3f3f3;
}

.height
{
  height:600px !important;
}

.bottom-border {
  border-bottom-style: groove;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}

.left-border {
  border-left: 1px solid gray;
}
.font-bold
{
 color: #101821 !important;
 font-weight: 600 !important;
}

.bold
{
  font-weight: 600 !important;
}
.margin-bottom
{
    margin-bottom: 0.5rem;
}

.font
{
  font-family: initial !important;
}

.px-3
{
  padding-left: 1.5rem!important;
}
.border-bottom2
{
border-bottom: 1px solid #e0dcdc;
margin-bottom:7px;
}
.lable-padding-top
{
padding-top: 10px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 10px;
font-size: 16px;
}
.float-right1 {
    float: right!important;
    padding-bottom: 10px;
}

.title {
    font-family: initial!important;
    font-size: 16px;
    margin: 0;
    padding-top: 6px;
}
.row-background
{
border: 1px solid #ccc!important;
background-color:#fcfcfc
}

/*.heading-background*/
/*{*/
/*border-bottom: 2px solid #848080;*/
/*}*/

.form-row
{
 margin-left: 0px!important;
 margin-right: 0px!important;
}


.box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #b9bab6;
    background-color:#f3f3f3;
    }
.innerbox {
    border: 2px solid #b9bab6;
    background-color: white;
    }  
.paddingtop
{
padding-top: 10px;
}

.paddingbottom
{
padding-bottom: 10px;
}
.paddingleft
{
padding-bottom: 10px;
}
.lineheight
{
line-height: 2.2;
}
.rightside
{
position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.col-md-2
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;   
}

.col-md-3
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;   
}

.injury-doc {
    background-color: #fff;
    border: solid 1px #d8d8d8;
    border-radius: 2px;
    min-height: 197px;
    margin-bottom: 10px;
    width: 100%;
}
.radiobox-width {
    float: left;
    width: 48.5%;
    padding: 3px 0px 3px 17px;
    vertical-align: top;
    
}

.bill-font-size {
 font-size: 14px !important; 
}

.td
{
    border-bottom: 1px solid #E3EBF3;
    padding: 0.5rem 1rem !important;
}
.border-right
{
 color: #ffffff solid 1px;
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-larger 
{
    font-size: 18px;
}

.inputfill 
{
    background-color: #e7e7e7;
    border: solid 1px #b7b7b7;
    border-left: 0;
    border-radius: 0 2px 2px 0;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
}
.buttonfont
{
 font-size: 16px;
}
.dashboard-boxes {
    background-color: #2a3f54!important;
}
html body {
    height: 100%;
    width: 100% !important;
    background-color: #F3F3F3;
    direction: ltr;
}
.showPointer{ cursor: pointer;}